<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%-5level) %d{yy-MM-dd HH:mm:ss}[%logger{0}:%line] - %msg%n</pattern>
            <!-- <pattern>%-5level %d [%thread] %logger - %msg%n</pattern> -->
        </encoder>
    </appender>

    <!-- <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>192.168.153.174:5000</destination>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender> -->

    <root level="info">
        <appender-ref ref="console"/>
        <!-- <appender-ref ref="stash"/> -->
    </root>

</configuration>